.RestDetailForm-form {
    width: 80%;
    margin: 25px auto;
}

.RestDetailForm-container {
    padding: 40px 15px 15px;
    border: 1px solid;
    border: 1px solid #9B9999;
    box-sizing: border-box;
    border-radius: 10px;

}

.RestDetailForm-title {
    padding: 0 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #000;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.form-container input {
    padding: 5px 10px;
    margin: 10px;
    width: 30%;
    height: 30px;
    border: 1px solid #9B9999;
    box-sizing: border-box;
    border-radius: 50px;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
    text-transform: uppercase;
}

.form-container textarea {
    outline: none;
    margin: 20px 0;
    resize: none;
    width: 100%;
    min-height: 200px;
    padding: 22px;
    border: 1px solid #9B9999;
    box-sizing: border-box;
    border-radius: 50px;
}

.form-container textarea:focus,
.form-container input:focus{
    outline: none;
}

.form-container .button-link-btn {
    margin: 0 auto;
    border: none;
}

.form-container .button-link-btn:focus {
    outline: none;
}

.form-container .button-link-btn:hover {
    cursor: pointer;
}



